apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-world
  namespace: ns-demo
spec:
  replicas: 10
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          # whenUnavailable: ScheduleAnyway
          labelSelector:
            matchLabels:
              app: web
      containers:
      - name: nginx
        image: nginx:1.14.2
        ports:
        - containerPort: 80
